body{
  font-family: 'Montserrat', sans-serif;
}


.navbar{
  background-color: #000000;
  
}
  .title{
    text-align: center;
    color: black;
   font-weight: bold;
   margin: auto;
  }

  .title1{
    font-size: 70px;
    text-align: center;
    color: black;
   font-weight: bold;
   padding-top: 45px;
  }
  .text-history{
    text-align: center;
    color: black;
    font-size: 20px;
  }

  .background{
    background-image: linear-gradient(rgba(233, 40, 40, 0),rgba(0,0,0,0.0)), url('../imgs/background.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .jumbotron{
    background: rgba(264, 264, 264, 0.8);
  }
  .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
        width:100%;
    position:absolute;
  }
  .icons{
    font-size: large;
    color: black;
    text-shadow:1px 1px 2px rgba(0,0,0,1);
  }
  .miniatura {
    width: 320px;
    height: 320px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    background-size: contain;
    overflow: hidden;
  }
  
  .miniatura a {
    text-decoration: none;
  }
  .blackbox {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    padding-top: 120px;
    transition: 1s;
  }
  
  
  .blackbox:hover {
    opacity: 0.8;
    transition: 1s;
  
  }
  
  .blackbox-text {
    text-align: center;
  }
  
  .blackbox-text h1 {
    font-size: 16px;
    color: #f27609;
    text-transform: uppercase;
    margin-top: 0px;
  }
  
  .blackbox-text h2 {
    text-transform: none;
    font-weight: 100;
    margin-top: 0;
  }

  @keyframes conteudo {
    0% {opacity: 0; transform: translate(-20px,0px)}
    100% {opacity: 1; transform: translate(0px,0px)}
  } 

  